In [ ]:
#First step is to download the libraries

!pip install bstrap
import numpy as np
import pandas as pd
from scipy.stats import mannwhitneyu
from bstrap import bootstrap

In [48]:
# Next- download the dataset

df = pd.read_csv('kinopoisks_rating.csv',sep = ';', encoding = 'cp1251')

In [ ]:
# Now lets analyze the dataset to get an idea of what type of data we are working with

len(df)

In [17]:
df.head()

,num,name_rus,rating_new,origin,genre,rating_old,qty_views
0,1,Зеленая миля,9.1,США,фэнтези/ драма,8.9,692418
1,2,Побег из Шоушенка,9.1,США,драма,8.9,784326
2,3,Властелин колец: Возвращение короля,8.6,Новая Зеландия/ США,фэнтези/ приключения,8.8,481829
3,4,Властелин колец: Две крепости,8.6,Новая Зеландия/ США,фэнтези/ приключения,8.8,467607
4,5,Властелин колец: Братство Кольца,8.6,Новая Зеландия/ США,фэнтези/ приключения,8.8,516856

In [12]:
df.dtypes

num             int64
name_rus       object
rating_new    float64
origin         object
genre          object
rating_old    float64
qty_views       int64
dtype: object

In [15]:
#The hypothesis that should be tested:
#H0 - there is no statistical difference between rating_new and rating_old
#Ha - the difference between rating_new and rating_old exists.

#Lets test the difference using Mann-Whitney U test
# Firstly, we should check the ratings for all movies
mannwhitneyu(df.rating_new,df.rating_old)

MannwhitneyuResult(statistic=31175.5, pvalue=0.9629567921262221)

In [49]:
#The results of the tests show that p-value exceeds the value of 0.5 which means that the H0 is confirmed meaning there is no difference in old and new ratings.
#Next step is to check the difference for movies with the same origin and the same genre
#To do so lets evaluate the most popular groups of origin and genre and use them as an example
df['origin'].value_counts().head()
df['genre'].value_counts().head()

фантастика/ боевик     19
мультфильм/ фэнтези    13
драма/ мелодрама       13
драма                  12
драма/ биография       11
Name: genre, dtype: int64

In [35]:
df1 = df[df.genre.str.contains('фантастика/ боевик')]
df2 = df[df.origin.str.contains('США')]

#lets apply the Mann-Whitney U test and see the results 
mannwhitneyu(df1.rating_new,df1.rating_old)
mannwhitneyu(df2.rating_new,df2.rating_old)

MannwhitneyuResult(statistic=13793.5, pvalue=0.1461184817005307)

In [ ]:
#First, if we consider the genre of the movies, we can see that the p-value exceeds 0.05 which means that there is no difference in ratings of the genre 'фантастика/ боевик'
#Second, the same results are shown with the origin 'США' (p-value is more than 0.05) that also indicate that there is no difference.

In [ ]:
#Lets validate the results of the Mann-Whitney U test by conducting another test called Boostrap. For the metric to evaluate the difference between groups we will take the mean.

In [41]:
#all sample
old, new, p_value = bootstrap(np.mean, df.rating_old, df.rating_new, nbr_runs=10000)
print(p_value)

0.8124

In [50]:
#genre
old_df1, new_df1, p_value_df1 = bootstrap(np.mean, df1.rating_old, df1.rating_new, nbr_runs=10000)
print(p_value_df1)

0.1537

In [51]:
#origin
old_df2, new_df2, p_value_df2 = bootstrap(np.mean, df2.rating_old, df2.rating_new, nbr_runs=10000)
print(p_value_df2)

0.354

In [ ]:
#As the p-values for all of the bootstrap were more than 0.5 - it means that there is no difference between the ratings and the results that that were obtained earlier are proven.